@import './markdown.css';

:root {
  --color-fill: 33, 39, 55;
  --color-text-base: 234, 237, 243;
  --color-accent: 255, 107, 237;
  --color-card: 52, 63, 96;
  --color-card-muted: 138, 51, 123;
  --color-border: 171, 75, 153;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: rgb(var(--color-fill));
  color: rgb(var(--color-text-base));
}

* {
  box-sizing: border-box;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(var(--color-accent));
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
